////Keyframe


@keyframes rotation-icon {
    from{
       transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes fadein {
    from {
        opacity:0;
        transform: translateY(50px);
    }
    to {
        opacity:1;
        transform: translateY(0px);

    }
}

///BTN Animation //// 
/// 

@for $i from 1 through 3 {
    .btn-animation-#{$i}{
        animation: fadein 2s $i*0.3s ;
    }
}


