.footer{
    background-color: rgb(50, 49, 49);
    color: white;
    padding: 10px;
    margin-top: 50px;
    a{
        color: white;
        font-weight: lighter;
    }
    &__logo{
        @extend %logo-police; 
        font-size: 20px;  
        margin-bottom: 16px; 
      }
    &__link{
        display: flex;
        .fa-utensils{
            margin-right: 15px;
        } 
        .fa-handshake-angle{
            margin-right: 10px;
        }
    }
}



