.blur-selector{
        animation: blurIn, fadeIn;
        animation-duration: 5s;
}

.box-load-spinner{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}

.load-spinner{
    animation: scale-up, fadeIn;
    animation-duration: 3s, 1s;
    animation-fill-mode: forwards;
    display: flex;
}

@for $i from 1 through 3 {
    #load-spinner-#{$i}{
        animation: scale-up-center 2s $i*0.3s ;
        font-size: 50px;
        margin:15px;
    }
}


@keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
    }
    25% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.7);
                transform: scale(0.7);
    }
    75% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.7);
                transform: scale(0.7);
    }
  }

@keyframes scale-up{
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);

    }
    25% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    75% {
        -webkit-transform: scale(1);
                transform: scale(1);
      }
    100% {
        -webkit-transform: scale(0);
                transform: scale(0);
  
      }
}

@keyframes fadeIn {
    0% { 
        opacity: 0; 
    }
    100% { 
        opacity: 1; 
    }
}
  
@keyframes blurIn {
    0% { 
        filter: blur(8px); 
    }
    100% { 
        filter: blur(0px); 
    }
}

