@import "extend.scss";
@import "animation.scss";
@import "footer.scss";
@import "menu.scss";
@import "responsive.scss";
@import "loadingspiner.scss";


*{
    margin:0;
}

header{
    text-align: center;
  }

main{
    margin: 20px;
}

h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

body{
    @extend %text-police;
}

p{
    font-weight: 100;
}

a{
    text-decoration: none;
}

//PRESENTATION

.logo{
    padding: 20px;
}

#site-search{
    margin-left: 10px;
    border:hidden;
}


//BUTTON


.btn{
    border-radius: 20px;
    border: 1px;
}


.btn-purple{
    @extend .btn;
    @extend %shadow;
    background: rgb(147,86,220);
    background: linear-gradient(349deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
    margin: 20px;
    padding: 15px;
    color:white;
    &:hover{
        background: rgb(165, 110, 233);
        background: linear-gradient(349deg, rgb(165, 110, 233)0%, rgb(248, 149, 220) 100%);
        @extend %shadow-dark;
    }
}

.btn-menu{
    @extend %shadow;
    background-color: white;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.btn-functioning{
    @extend .btn-menu;
    display: flex;
    align-items: center;
    padding-block-start: 2em;
    padding-block-end: 2em;
    position: relative;
}

//SEARCH

.search-box{
    display: flex;
    justify-content: center;
}

//PRESENTATION

.presentation{
    text-align: center;
    margin: 30px;
}

//FUNTIONNING

.functioning-list{
    p {
        color: white;
    }  
}

.functioning{
    margin: 20px 10px ;
    max-width: 600px;
    i {
        margin: 10px;
    }
    &__box-circle{
        @extend %primary;
        position: absolute;
        left: -15px;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__btn{
        @extend .btn;
        @extend .btn-functioning;
    }
    &__description{
        display: flex;
        margin-left:20px;
    }
}

//RESTAURANT 

        //card 

.card{
    @extend %border-box;
    @extend %shadow;
    max-width: 600px;
    box-sizing: border-box;
    margin: 20px 0;
    &__box-image{
        position: relative;
    }
    &__box-new{
    position:absolute; 
    right: 5%;
    top: 5%;
    }
    img{
       @extend %border-top; 
       width: 100%;
       height: 180px;
       object-position: bottom;
       object-fit: cover;
    }
    h4{
        @extend %third;
        padding: 10px;
        color:#176f2b;
    }
    &__description{
        padding: 20px;
        h2{
            margin: 0;
        }
    }
    &__restaurants-name{
        display: flex;
        position: relative;
        h1{
            @extend %logo-police;
        }
    }
}

           ////heart
           
.fa-heart{
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        right: 1%;
        font-size: 25px;
        opacity: 0;
    &:hover{
        animation: fadeIn 0.5s;
        animation-fill-mode: forwards;
}

}
.heart-solid{
    color: transparent;
    background: linear-gradient(176deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 58%);
    background-clip: text;
    -webkit-background-clip: text;
}

.heart-regular{
    opacity: 1;
    color:black;
}


///Media queries large//
/// 


@media #{$medium-up}{
    
}

@media #{$large-up}{
    .restaurants-card{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .card{
        width: 45%;
    }
}

@media #{$extra-large-up}{
    .functioning-list{
        display: flex;
        justify-content: space-between;
    }
    .functioning{
        width: 30%;
    }
}

