body {
  font-family: "Roboto", sans-serif;
}

.restaurants-name h1, .logo-footer {
  font-family: "Shrikhand";
}

.box-circle {
  background-color: #9356DC;
}

.card h4, .check-box, .title-menu__bar {
  background-color: #99E2D0;
}

.card {
  border-radius: 20px;
}

.card img {
  border-radius: 20px 20px 0 0;
}

.card, .btn-menu, .functioning {
  box-shadow: -2px 10px 25px -5px rgba(0, 0, 0, 0.55);
}

@keyframes translateleft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-70px);
  }
}
@keyframes rotation-icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.btn-animation-1 {
  animation: fadein 2s 0.3s;
}

.btn-animation-2 {
  animation: fadein 2s 0.6s;
}

.btn-animation-3 {
  animation: fadein 2s 0.9s;
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-menu a {
  position: absolute;
  left: 20px;
  color: black;
  font-size: 30px;
}

.banner {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.title-menu {
  text-transform: uppercase;
  margin-top: 25px;
}
.title-menu__bar {
  height: 5px;
  width: 50px;
  margin-top: 10px;
}

.command-box {
  text-align: center;
}
.command-box button {
  width: 150px;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}
.menu__description {
  padding: 15px;
  width: 100%;
  overflow: hidden;
}
.menu__description p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
.menu__price-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.check-box {
  display: flex;
  width: 70px;
  justify-content: center;
  align-items: center;
  border-radius: 0px 20px 20px 0px;
  height: 100%;
  margin-right: -70px;
}
.check-box .fa-circle-check {
  font-size: 25px;
}

.btn-menu:hover .check-box, .functioning:hover .check-box {
  display: flex;
  animation-fill-mode: forwards;
  border: 2px;
  margin-right: 0;
  transition: all 0.5s;
}
.btn-menu:hover .fa-circle-check, .functioning:hover .fa-circle-check {
  animation: rotation-icon 0.5s;
  animation-fill-mode: forwards;
  color: white;
}

@media only screen and (min-width:460px) {
  main {
    padding-right: 10%;
    padding-left: 10%;
  }
  .banner {
    height: 300px;
  }
}
@media only screen and (min-width:912px) {
  main {
    padding-right: 20%;
    padding-left: 20%;
  }
  .banner {
    height: 300px;
  }
}
@media only screen and (min-width:912px) {
  main {
    padding-right: 20%;
    padding-left: 20%;
  }
  .banner {
    height: 350px;
  }
}
header, main, footer, .search-box, .presentation {
  animation: blurIn, fadeIn;
  animation-duration: 5s;
}

.box-load-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.load-spinner {
  animation: scale-up, fadeIn;
  animation-duration: 3s, 1s;
  animation-fill-mode: forwards;
  display: flex;
}

#load-spinner-1 {
  animation: scale-up-center 2s 0.3s;
  font-size: 50px;
  margin: 15px;
}

#load-spinner-2 {
  animation: scale-up-center 2s 0.6s;
  font-size: 50px;
  margin: 15px;
}

#load-spinner-3 {
  animation: scale-up-center 2s 0.9s;
  font-size: 50px;
  margin: 15px;
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  75% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}
@keyframes scale-up {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blurIn {
  0% {
    filter: blur(8px);
  }
  100% {
    filter: blur(0px);
  }
}
footer {
  background-color: rgb(50, 49, 49);
  color: white;
  padding: 10px;
  margin-top: 50px;
}

.logo-footer {
  font-size: 20px;
  margin-bottom: 16px;
}

.link-footer {
  display: flex;
}
.link-footer .fa-utensils {
  margin-right: 15px;
}
.link-footer .fa-handshake-angle {
  margin-right: 10px;
}

* {
  margin: 0;
}

header {
  text-align: center;
}

main {
  margin: 20px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  font-weight: 100;
}

a {
  text-decoration: none;
}

.logo {
  padding: 20px;
}

#site-search {
  margin-left: 10px;
  border: hidden;
}

.btn, .btn-purple {
  border-radius: 20px;
  border: 1px;
}

.btn-purple {
  background: rgb(147, 86, 220);
  background: linear-gradient(349deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  margin: 20px;
  padding: 15px;
  color: white;
}
.btn-purple:hover {
  background-color: #a567f1;
}

.btn-menu, .functioning {
  background-color: white;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.functioning {
  display: flex;
  align-items: center;
  padding-block-start: 2em;
  padding-block-end: 2em;
  position: relative;
}

.search-box {
  display: flex;
  justify-content: center;
}

.presentation {
  text-align: center;
  margin: 30px;
}

.functioning-list p {
  color: white;
}

.box-circle {
  position: absolute;
  left: -15px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-functioning {
  margin: 20px 10px;
  max-width: 600px;
}
.box-functioning i {
  margin: 10px;
}

.functioning-description {
  display: flex;
  margin-left: 20px;
}

.card {
  max-width: 600px;
  box-sizing: border-box;
  margin: 20px 0;
}
.card img {
  width: 100%;
  height: 180px;
  object-position: bottom;
  object-fit: cover;
}
.card h4 {
  padding: 10px;
  color: #176f2b;
}

.restaurants-name {
  display: flex;
  position: relative;
}

.fa-heart {
  position: absolute;
  right: 10px;
  font-size: 25px;
  opacity: 0;
}
.fa-heart:hover {
  animation: fadeIn 0.5s;
  animation-fill-mode: forwards;
}

.heart-solid {
  color: transparent;
  background: linear-gradient(176deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 58%);
  background-clip: text;
  -webkit-background-clip: text;
}

.heart-regular {
  opacity: 1;
  color: black;
}

.box-image {
  position: relative;
}

.box-new {
  position: absolute;
  right: 5%;
  top: 5%;
}

.card-description {
  padding: 20px;
}
.card-description h2 {
  margin: 0;
}

.restaurants-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width:912px) {
  .box-functioning {
    width: 100%;
  }
  .restaurants-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .card {
    width: 45%;
  }
}

/*# sourceMappingURL=style.css.map */
